configuration {
 modi: "window,drun,combi";
 font: "hack 10";
 combi-modi: "window,drun,ssh";
 }

//@theme "/home/daniel/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/daniel/.local/share/rofi/themes/rounded-blue-dark.rasi"
//@theme "/home/daniel/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/daniel/.local/share/rofi/themes/rounded-blue-dark.rasi"
@theme "/home/daniel/.local/share/rofi/themes/rounded-purple-dark.rasi"
