/* WAYBAR - Stylesheet */


@define-color color1 #C8D404;
@define-color color2 #B7BF04;
@define-color color3 #A6AA05;
@define-color color4 #959505;
@define-color color5 #848006;
@define-color color6 #736B06;
@define-color color7 #625607;
@define-color color8 #514108;
@define-color color9 #6E3D09;

@define-color fgcolor1 #000000;
@define-color fgcolor2 #1A1A1A;
@define-color fgcolor3 #333333;
@define-color fgcolor4 #FFFFFF;
@define-color fgcolor5 #FFFFFF;
@define-color fgcolor6 #FFFFFF;
@define-color fgcolor7 #FFFFFF;
@define-color fgcolor8 #FFFFFF;
@define-color fgcolor9 #FFFFFF;


* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11px;
}

window#waybar {
    background: rgba(0, 0, 0, 0.0);
}

tooltip {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: @color1;
}

#workspaces {
    padding-left: 6px;
    opacity: 1;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    background: @color8;
}
#workspaces button {
    padding: 0px;
    /*margin-top: 3px;
    margin-bottom: 3px;*/
    padding-left: 4px;
    padding-right: 4px;
    color: @fgcolor8;
}

#workspaces button.active {
    background: @color1;
    color: @fgcolor1;
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
}

#workspaces button:hover {
    background: @color1;
    color: @fgcolor1;
    margin-left: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
}

#workspaces button.urgent {
    color: @color1;
    background: #DC143C;
}




#custom-launcher {
    background: @color1;
    color: @fgcolor1;
    border-radius: 12px 0px 0px 12px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#custom-rdplist,
#custom-digikamlauncher  {
    border-radius: 0px 12px 12px 0px;
}

#idle_inhibitor,
#cpu,
#memory,
#temperature,
#custom-rdplist,
#battery,
#clock,
#custom-powermenu,
#custom-netreset,
#custom-wireguard-manager,
#window,
#pulseaudio,
#network,
#tray,
#taskbar,
#backlight,
#custom-insync,
#bluetooth,
#custom-filelauncher,
#custom-terminallauncher,
#custom-digikamlauncher,
#custom-darktablelauncher,
#custom-publicip,
#custom-gateway,
#custom-mounter,
#custom-dns {
    padding-left: 6px;
    opacity: 1;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clock {
    background: @color2;
    color: @fgcolor2;
}

#idle_inhibitor {
    background: @color3;
    color: @fgcolor3;
}

#cpu {
    background: @color4;
    color: @fgcolor4;
}

#memory {
    background: @color5;
    color: @fgcolor5;
}

#temperature
{
    background: @color6;
    color: @fgcolor6;
}

#battery,
#custom-darktablelauncher,
#taskbar {
    background: @color7;
    color: @fgcolor7;
}

#custom-rdplist,
#custom-digikamlauncher {
    background: @color8;
    color: @fgcolor8;
}

#custom-powermenu {
    background: @color1;
    color: @fgcolor1;
    border-radius: 0px 12px 12px 0px;
    padding-right: 10px;

    margin-right: 5px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#backlight,
#pulseaudio,
#bluetooth {
    background: @color2;
    color: @fgcolor2;

}

#custom-publicip,
#custom-gateway,
#custom-dns {
    background: @color3;
    color: @fgcolor3;
}

#custom-netreset {
    background: @color4;
    color: @fgcolor4;
}

#network {
    background: @color5;
    color: @fgcolor5;
}

#custom-wireguard-manager,
#custom-mounter {
    background: @color6;
    color: @fgcolor6;
}

#tray {
    background: @color7;
    color: @color7;
    border-radius: 12px 0px 0px 12px;
    padding-right: 10px;
    padding-left: 10px;
}


#custom-left1to2,
#custom-left2to3,
#custom-left3to4,
#custom-left4to5,
#custom-left5to6,
#custom-left6to7,
#custom-left7to8 {
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#custom-left1to2 {
    color: @color1;
    background: @color2;
}

#custom-left2to3 {
    color: @color2;
    background: @color3;
}

#custom-left3to4 {
    color: @color3;
    background: @color4;
}

#custom-left4to5 {
    color: @color4;
    background: @color5;
}

#custom-left5to6 {
    color: @color5;
    background: @color6;
}

#custom-left6to7 {
    color: @color6;
    background: @color7;
}

#custom-left7to8 {
    color: @color7;
    background: @color8;
}

#custom-right1to2,
#custom-right2to3,
#custom-right3to4,
#custom-right4to5,
#custom-right5to6,
#custom-right6to7,
#custom-right7to8 {
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#custom-right1to2 {
    color: @color1;
    background: @color2;
}

#custom-right2to3 {
    color: @color2;
    background: @color3;
}

#custom-right3to4 {
    color: @color3;
    background: @color4;
}

#custom-right4to5 {
    color: @color4;
    background: @color5;
}

#custom-right5to6 {
    color: @color5;
    background: @color6;
}

#custom-right6to7 {
    color: @color6;
    background: @color7;
}

#custom-right7to8 {
    color: @color7;
    background: @color8;
}

